body {
    color: blue;
}

h1 {
    color:red;
}

h2.left {
    text-align: left;
}
h2.center {
    text-align: center;
}
h2.right {
    text-align: right;
}
div {
    border: 1px solid #000;
    padding: 10px;
    width: 200px;
    height: 200px;
    text-align: justify
}
h2.overline {
    text-decoration: overline;
}

h2.linethrough {
   text-decoration: line-through;
}



h2.underline {
    text-decoration: underline;
}
p.rtl {
    direction: rtl;
}

