table, th, td {
    border:4px solid black;
    border-collapse:collapse;
    margin-left: 450px;
}
th, td {
    padding:30px;
    text-align:center;
    font-size: 30px;
}
tr.odd >td:nth-child(2n+1) {
    background-color: grey;
}
tr.even >td:nth-child(2n) {
    background-color: grey;
}
